<header>
    <nav>
        <button onclick="displayMenu()">Menu</button>
        <div class="menuPadHidden" id="menuPad">
            <a class="menuLink" href="/users/1">Home</a>
            <a class="menuLink" href="/posts">Posts</a>
            <a class="menuLink" href="/users">Users</a>
        </div>
    </nav>
</header>