<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Create User</h1>
<form method="post" action="/users/create">
    <label>
        Name:
        <input class="createUserInput" type="text" name="name" onchange="checkAllInput()" required/>
    </label>
    <label>
        Username:
        <input class="createUserInput" type="text" name="username" onchange="checkAllInput()" required/>
    </label>
    <label>
        Email:
        <input class="createUserInput" type="email" name="email" onchange="checkAllInput()" required/>
    </label>
    <label>
        ProfileImageUrl:
        <input class="createUserInput" type="text" name="profileImageUrl" onchange="checkAllInput()" required/>
    </label>
    <label>
        CoverImageUrl:
        <input class="createUserInput" type="text" name="coverImageUrl" onchange="checkAllInput()" required/>
    </label>
    <button type="submit" class="createUserSubmit">Submit</button>
</form>
</body>
<%- include('_footer') -%>
</html>