/* Add your styles here. */
h1 {
    color: blue;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
  }

main {
    width: 100%;
}

ol {
    padding: 5px;
}

.child {
    background: rgb(191, 255, 0);
    margin: 3px;
    width: 100%;
  }

.child img {
    width: 100%;
}

.buttonBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
  }

.ldButton {
    width: 50%;
}