
input:invalid {
    border: 1px solid red; 
}
      
input:valid {
    border: 1px solid green; 
}


.createUserSubmit {
    display:block;
}

.createUserSubmit:disabled {
    background-color: lightgray; 
}

.createUserSubmitHidden {
    display:none;
}